@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

*{
    font-family: 'Comic Neue', cursive;
    margin:0;
    padding:0;   
}
  
  body {
    background-image: url(fundocoloridogrande.png);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #calc {
    width: 100%;
    padding: 0.5em;
    color: #000;
    display: flex;
    flex-direction: column;
  }
  #calc h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: #fff;
  }
  
  #operations {
    text-align: right;
  }
  
  #previous-operation {
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.4em;
    margin: 10px;
    width: 90%;
    color: black;
    background: rgba(255, 255, 255, 0.904);
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.200);
    padding: 10px;
    font-size: 40px;
  }
  
  #current-operation {
    margin: 10px;
    width: 90%;
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
    margin: 5px;
    color: black;
    background: rgba(255, 255, 255, 0.904);
    font-size: 40px;
    left: 10px;
    padding: 10px;
    top: 84px;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.200);

  }
  
  #buttons-container {
    -webkit-tap-highlight-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
  
  #buttons-container button {
     -webkit-tap-highlight-color: transparent;
     border-radius: 50%;
     width: 75px;
     height: 75px;
     font-size: 40px;
     margin: 3px;
     cursor: pointer;
     border: none;
     outline: none;
     align-items: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.200);
}
  
  #buttons-container .number {
    background-color: white;
    color: black;
  }
  
  
  #buttons-container #equal-btn {
    color: #fff;
    grid-column: span 2;
    background: #069BEF;
  }
  

  .btn-contas{
    background: #30BBEE;
    color: white;
  }

  .btn-red{
    background: red;
    color: #fff;
  }

  .anotacoes{
    text-align: center;
    background: red;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    width: 50%;
    height:38px; 
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.200);
    border: none;
    outline: none;
  }

  .anotacoes2{
    text-align: center;
    background: red;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    width: 160px;
    height:38px; 
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.200);
    border: none;
    outline: none;
  }

  .caixadeanotacoes{
    font-family: 'Comic Neue', cursive;;
    width: 80%;
    height: 1600px;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    color: black;
    background: rgba(255, 255, 255, 0.918);
    font-size: 25px;
    left: 15px;
    top: 84px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.200);
    text-align: left;
    border: none;
    outline: none;
  }

  .copiar{
    text-align: center;
    background:#30BBEE;
    color: #fff;
    font-size: 15px;
    padding: 3px;
    margin: 5px;
    width: 120px;
    height:35px; 
    border-radius: 10px;
    border: none;
    outline: none;
  }
  
  